body {
    background-color: #2d2d3e;
    padding-bottom: 100px;;
}

h1, h2, li, table, th, tr, td {
    border: 1px solid white;
}

h1, .nav-top li, h2, th {
    font-family: 'Orbitron', sans-serif;
}

/* Header */

    header {
        color: #4a9aff;
        margin: 0 auto;
        max-width: 1400px;
        min-width: 600px;
        padding-left: 50px;
        padding-right: 50px;
    }

    h1 {
        font-size: 48px;
        text-align: center;
        padding: 8px;
    }

    .nav-top {
        text-align: center;
    }

    .nav-top li {
        font-size: 24px;
        font-weight: bold;
        padding: 4px 8px;
        margin-right: 36px;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
    }

    a {
        text-decoration: none;
    }

    li a:link {
        color: #4a9aff;
    }

    li a:visited {
        color: #4a9aff;
    }

    li a:hover {
        color: white;
    }

/* Both Sections */

    section {
        text-align: center;
        min-width: 600px;
        max-width: 1200px;
        margin: 0 auto;
        padding-left: 50px;
        padding-right: 50px;
    }

    h2 {
        color: #4a9aff;
        font-size: 40px;
        font-weight: bold;
        padding: 8px;
    }

    table {
        font-family: sans-serif;
        min-width: 600px;
        max-width: 1000px;
        margin: 0 auto;
        margin-top: 32px;
        border-collapse: collapse;
    }

    .table-header {
        font-size: 32px;
    }

    th {
        color: #4a9aff;
        font-size: 24px;
        padding: 4px 8px;
    }

    tr, td {
        padding: 4px 8px;
    }

    td {
        color: aliceblue;
    }

    td a:link {
        color: aliceblue;
    }

    td a:visited {
        color: aliceblue;
    }

    td a:hover {
        color:#4a9aff;
    }

    .tag-data {
        font-family: monospace;
        font-size: 18px;
    }

    .align-top {
        vertical-align: top;
        padding-top: 10px;
    }

/* HTML Section */



/* CSS Section */

